body {
    font-family: Arial, sans-serif;
    background-image: url('download.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#header {
    text-align: center;
    padding: 10px;
    background-color: #007BFF;border-radius: 15px;
    color: white;
    background-image: url('download.jpeg');
    background-size: cover;
}

#about, #skills, #projects, #resume, #contact {
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    padding: 20px;
}

#footer {
    text-align: center;
    padding: 10px;
    background-color: #007BFF;
    border-radius: 15px;
    color: white;
}
img{
    border-radius: 15px;
}
