body {
    background-image: url("background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#navbar {
    background-color: #333;
    color: white;
    padding: 15px;
    border-radius: 15px;
}

#navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#navbar li {
    display: inline;
    margin-right: 10px;
}

.buy-now {
    background-color: pink;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    background-color: #f4f4f4;
    color:white;
    padding: 10px;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0);
}

#services, #about-us, #our-services {
    margin: 15px 0;
    padding: 15px;
    background-color: white;
    color:white;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0);

}

.service, .our-service {
    border: 1px solid #333;
    padding: 10px;
    margin: 10px 0;
    border-radius: 15px;
    
}

#footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;

}

#footer p {
    margin: 0;
    color: #f4f4f4;
}
